.vscode/
.vs/
*.code-workspace

*.obj
*.o
*.exe
*.dll
*.lib
*.so
*.a
*.exp
*.pdb
*.idb
*.ipdb
*.iobj
*.ilk
*.ncb
*.sdf
*.tlog
*.VC.db
*.VC.opendb

Debug/
Release/
x64/
x86/
ARM/
ARM64/
build/
out/
CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user

*.suo
*.user
*.cbp
*.sln.docstates

*.log
*.cache
*.tmp

packages/
node_modules/
*.nuget
*.nupkg

*.ipch
*.aps
*.res
*.rc
*.tlb
*.tli
*.pch
